In [26]:
pd.set_option('precision', 4)
import numpy as np
import pandas as pd
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1], [np.nan, np.nan, np.nan, 5],
[np.nan, 3, np.nan, 4]], columns=list('ABCD'))
df.head(4)

     A    B   C  D
0  NaN 2.00 NaN  0
1 3.00 4.00 NaN  1
2  NaN  NaN NaN  5
3  NaN 3.00 NaN  4

In [3]:
filleddf = df.fillna(0)
filleddf

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

In [5]:
values = {'A': 0, 'B':1, 'C':2, 'D':3}
values

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

In [6]:
df_predefine = df.fillna(value = values)
df_predefine

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5
3  0.0  3.0  2.0  4

In [7]:
df_mean = df.fillna(df.mean())
df_mean

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  3.0 NaN  5
3  3.0  3.0 NaN  4

In [8]:
print(df)
print(filleddf)
print(df_predefine)
print(df_mean)

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4
     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4
     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5
3  0.0  3.0  2.0  4
     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  3.0 NaN  5
3  3.0  3.0 NaN  4

In [9]:
import numpy as np
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean

SimpleImputer()

In [10]:
imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])

SimpleImputer()

In [11]:
imp_mean

SimpleImputer()

In [12]:
X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
X

[[nan, 2, 3], [4, nan, 6], [10, nan, 9]]

In [13]:
X_filled = imp_mean.transform(X)
print(X_filled)

[[ 7.   2.   3. ]
 [ 4.   3.5  6. ]
 [10.   3.5  9. ]]

In [14]:
import numpy as np
from sklearn.datasets import fetch_california_housing
from sklearn.datasets import load_diabetes
rng = np.random.RandomState(42)
X_diabetes, y_diabetes = load_diabetes(return_X_y=True)
X_california, y_california = fetch_california_housing(return_X_y=True)
X_california = X_california[:400]
y_california = y_california[:400]
def add_missing_values(X_full, y_full):
 n_samples, n_features = X_full.shape
 # Add missing values in 75% of the lines
 missing_rate = 0.75
 n_missing_samples = int(n_samples * missing_rate)
 missing_samples = np.zeros(n_samples, dtype=bool)
 missing_samples[: n_missing_samples] = True
 rng.shuffle(missing_samples)
 missing_features = rng.randint(0, n_features, n_missing_samples)
 X_missing = X_full.copy()
 X_missing[missing_samples, missing_features] = np.nan
 y_missing = y_full.copy()
 return X_missing, y_missing
X_miss_california, y_miss_california = add_missing_values(
 X_california, y_california)
X_miss_diabetes, y_miss_diabetes = add_missing_values(
 X_diabetes, y_diabetes)
import pandas as pd
diabetes_pddata = pd.DataFrame(data= X_miss_diabetes)
diabetes_pddata['target'] = pd.Series(y_miss_diabetes)
print(diabetes_pddata.head(5))

          0         1         2         3         4         5         6  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474       NaN -0.008449 -0.019163  0.074412
2       NaN  0.050680  0.044451 -0.005671 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595       NaN  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596       NaN

          7         8         9  target
0 -0.002592  0.019908       NaN   151.0
1 -0.039493 -0.068330 -0.092204    75.0
2 -0.002592  0.002864 -0.025930   141.0
3  0.034309  0.022692 -0.009362   206.0
4 -0.002592 -0.031991 -0.046641   135.0

In [27]:
df_diabetes_pddata = diabetes_pddata.fillna(diabetes_pddata.mean())
print(df_diabetes_pddata)

        0     1     2     3     4     5     6     7     8     9  target
0    0.04  0.05  0.06  0.02 -0.04 -0.03 -0.04 -0.00  0.02  0.00  151.00
1   -0.00 -0.04 -0.05  0.00 -0.01 -0.02  0.07 -0.04 -0.07 -0.09   75.00
2   -0.00  0.05  0.04 -0.01 -0.05 -0.03 -0.03 -0.00  0.00 -0.03  141.00
3   -0.09 -0.04 -0.01  0.00  0.01  0.02 -0.04  0.03  0.02 -0.01  206.00
4    0.01 -0.04 -0.04  0.02  0.00  0.02 -0.00 -0.00 -0.03 -0.05  135.00
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...     ...
437  0.04  0.05  0.02  0.06 -0.01 -0.00 -0.00 -0.00  0.03  0.01  178.00
438 -0.00  0.05 -0.02 -0.07  0.05  0.08 -0.03  0.03 -0.02  0.04  104.00
439  0.04  0.05 -0.02  0.02 -0.04 -0.01 -0.02  0.00 -0.05  0.02  132.00
440 -0.05 -0.04  0.00  0.00  0.02  0.02 -0.03  0.03  0.04 -0.03  220.00
441 -0.05 -0.04 -0.07 -0.08  0.08  0.03  0.17  0.00 -0.00  0.00   57.00

[442 rows x 11 columns]

In [29]:
v_dia = {0: 0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9, 'target': 10 }

In [30]:
df_predefine_dia = diabetes_pddata.fillna(value = v_dia)

df_predefine_dia

        0     1     2     3     4     5     6     7     8     9  target
0    0.04  0.05  0.06  0.02 -0.04 -0.03 -0.04 -0.00  0.02  9.00  151.00
1   -0.00 -0.04 -0.05  3.00 -0.01 -0.02  0.07 -0.04 -0.07 -0.09   75.00
2    0.00  0.05  0.04 -0.01 -0.05 -0.03 -0.03 -0.00  0.00 -0.03  141.00
3   -0.09 -0.04 -0.01  3.00  0.01  0.02 -0.04  0.03  0.02 -0.01  206.00
4    0.01 -0.04 -0.04  0.02  0.00  0.02  6.00 -0.00 -0.03 -0.05  135.00
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...     ...
437  0.04  0.05  0.02  0.06 -0.01 -0.00  6.00 -0.00  0.03  0.01  178.00
438  0.00  0.05 -0.02 -0.07  0.05  0.08 -0.03  0.03 -0.02  0.04  104.00
439  0.04  0.05 -0.02  0.02 -0.04 -0.01 -0.02  7.00 -0.05  0.02  132.00
440 -0.05 -0.04  2.00  0.00  0.02  0.02 -0.03  0.03  0.04 -0.03  220.00
441 -0.05 -0.04 -0.07 -0.08  0.08  0.03  0.17  7.00 -0.00  0.00   57.00

[442 rows x 11 columns]